# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Django
*.sqlite3
*.log
*.pot
*.pyc
db.sqlite3

# Environment
.env
.env.*

# IDEs & Editors
.vscode/
.idea/
*.swp

# OS Files
.DS_Store
Thumbs.db

# Migrations (optional if you want a clean repo)
**/migrations/*.py
!**/migrations/__init__.py
